.MypagecontainerOutter {
  /* display: flex; */
  margin: auto;
  padding: 2px;
  border-radius: 50px;
  width: 60vw;
  max-width: 800px;
  margin-top: 20px;
  box-shadow: 15px 15px 30px rgba(37, 37, 37, 0.2),
    -15px -15px 30px rgba(255, 255, 255, 0.7);
  background-color: rgb(224, 224, 224);
  transition: box-shadow 0.5s ease;
}
.MypagecontainerOutter:hover {
  box-shadow: 25px 25px 30px rgba(37, 37, 37, 0.2),
    -25px -25px 30px rgba(255, 255, 255, 0.7);
}
.MypagecontainerOutter:hover .Mypagecontainer {
  box-shadow: inset 2px 2px 3px rgba(37, 37, 37, 0.2),
    inset -2px -2px 3px rgba(255, 255, 255, 0.7);
}
.Mypagecontainer {
  /* display: flex; */
  justify-content: space-around;
  margin: auto;
  padding: 100px;
  border-radius: 50px;
  box-shadow: inset 4px 4px 5px rgba(37, 37, 37, 0.2),
    inset -4px -4px 5px rgba(255, 255, 255, 0.7);
  transition: box-shadow 0.5s ease;
}
.MypagecontainerUserOutter {
  /* display: flex; */
  margin: auto;
  padding: 2px;
  border-radius: 50px;
  width: 70vw;
  max-width: 800px;
  margin-top: 20px;
  box-shadow: 15px 15px 30px rgba(37, 37, 37, 0.2),
    -15px -15px 30px rgba(255, 255, 255, 0.7);
  background-color: rgb(224, 224, 224);
  transition: box-shadow 0.5s ease;
}
.MypagecontainerUserOutter:hover {
  box-shadow: 25px 25px 30px rgba(37, 37, 37, 0.2),
    -25px -25px 30px rgba(255, 255, 255, 0.7);
}
.MypagecontainerUserOutter:hover .MypagecontainerUser {
  box-shadow: inset 2px 2px 3px rgba(37, 37, 37, 0.2),
    inset -2px -2px 3px rgba(255, 255, 255, 0.7);
}
.MypagecontainerUser {
  /* display: flex; */
  justify-content: space-around;
  margin: auto;
  padding: 50px;
  border-radius: 50px;
  box-shadow: inset 4px 4px 5px rgba(37, 37, 37, 0.2),
    inset -4px -4px 5px rgba(255, 255, 255, 0.7);
  transition: box-shadow 0.5s ease;
}

.MypageinnerBox {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.BackBtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.changeBtn {
  border: none;
  background-color: transparent;
  box-shadow: 2px 2px 3px rgba(37, 37, 37, 0.2),
    -3px -3px 3px rgba(255, 255, 255, 0.7);
  width: 100px;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 30px;
  color: rgb(138, 138, 138);
  font-size: 14px;
  transition: color 0.5s ease, box-shadow 0.5s ease;
  font-family: SUITE-Regular;
}

@media (max-width: 767px) {
  .Mypagecontainer {
    /* width: 80vw; */
    padding: 20px;
  }
  .MypagecontainerOutter {
    width: 80vw;
  }
  .BackBtn {
    margin-left: auto !important;
    display: block;
  }
  .MypagecontainerUserOutter {
    width: 80vw;
  }
}
