.txt-box {
  width: 100%;
  text-align: left;
}
.input-field {
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: space-around;
}
.input-field input {
  border: none;
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
  width: 70%;
}

@media (max-width: 767px) {
  .txt-box {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .input-field {
    display: flex;
    flex-direction: column;
  }
}
