.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upperWrapper {
  display: flex;
  align-items: baseline;
  position: relative;
  width: 90%;
  margin-bottom: 10px;
  margin-top: 2%;
}

.leftWrapper {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 40%;
  word-break: keep-all;
}

.rightWrapper {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.addButton {
  border: none;
  background-color: transparent;
  box-shadow: 2px 2px 3px rgba(37, 37, 37, 0.2),
    -3px -3px 3px rgba(255, 255, 255, 0.7);
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-left: 10px;
  color: rgb(138, 138, 138);
  font-size: 30px;
  transition: color 0.5s ease, box-shadow 0.5s ease;
  font-family: SUITE-Regular;
  padding-top: 0;
}

.addButton:hover {
  color: rgb(58, 58, 58);
  box-shadow: 1px 1px 1px rgba(37, 37, 37, 0.2),
    -1px -1px 2px rgba(255, 255, 255, 0.7);
}

.searchWrapper {
  display: flex;
}

.searchButton {
  height: 30px;
  width: 70px;
  border: none;
  color: rgb(138, 138, 138);
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(37, 37, 37, 0.2),
    -3px -3px 3px rgba(255, 255, 255, 0.7);
  transition: color 0.5s ease, box-shadow 0.5s ease;
  font-family: SUITE-Regular;
}
.searchButton:hover {
  box-shadow: 1px 1px 1px rgba(37, 37, 37, 0.2),
    -1px -1px 2px rgba(255, 255, 255, 0.7);
  color: rgb(58, 58, 58);
}
.searchButton:active {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
  color: rgb(58, 58, 58);
}

.searchInput {
  height: 30px;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: inset 3px 3px 2px rgba(37, 37, 37, 0.2);
  margin-right: 10px;
}

.tableWrapper {
  width: 90%;
}

@media (max-width: 767px) {
  .upperWrapper {
    display: block;
  }
  .leftWrapper {
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .rightWrapper {
    justify-content: center;
    margin-bottom: 20px;
  }
}
