.detail-container-outter {
  display: flex;
  min-width: 600px;
  max-width: 800px;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  box-shadow: 20px 20px 30px rgba(37, 37, 37, 0.2),
    -20px -20px 30px rgba(255, 255, 255, 0.7);
  padding: 4px;
  transition: box-shadow 0.3s ease;
}
.detail-container-outter:hover {
  box-shadow: 30px 30px 40px rgba(37, 37, 37, 0.2),
    -30px -30px 40px rgba(255, 255, 255, 0.7);
}
.detail-container {
  display: flex;
  justify-content: space-around;
  width: 80vw !important;
  max-width: 800px;
  margin: auto;
  box-shadow: inset 5px 5px 4px rgba(37, 37, 37, 0.2),
    inset -5px -5px 4px rgba(255, 255, 255, 0.7);
  padding: 25px;
  padding-top: 70px;
  padding-bottom: 70px;
  transition: box-shadow 0.3s ease;
  background-color: rgb(224, 224, 224);
}
.detail-updateBtn {
  border: none;
  background-color: transparent;
  box-shadow: 2px 2px 3px rgba(37, 37, 37, 0.2),
    -3px -3px 3px rgba(255, 255, 255, 0.7);
  width: 200px;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 30px;
  color: rgb(138, 138, 138);
  font-size: 14px;
  transition: color 0.5s ease, box-shadow 0.5s ease;
}
.detail-updateBtn:hover {
  color: rgb(58, 58, 58);
  box-shadow: 2px 2px 1px rgba(37, 37, 37, 0.2),
    -1px -1px 2px rgba(255, 255, 255, 0.7);
}
.detail-updateBtn:active {
  box-shadow: inset 2px 2px 1px rgba(37, 37, 37, 0.2),
    inset -5px -5px 3px rgba(255, 254, 254, 0.2),
    2px 2px 1px rgba(163, 162, 162, 0.2);
}

.worksBackBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.workTitle {
  font-size: 21px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.image-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-box2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-box img {
  width: 90% !important;
  margin: auto;
}
.image-border {
  border: 7px solid rgb(57, 57, 57);
  padding: 3px;
  background-color: rgb(211, 211, 211);
  box-shadow: 5px 5px 10px rgb(80, 80, 80), -10px -10px 10px white;
  margin-bottom: 10px !important;
}
.imageInner-box {
  margin: 20px;
}
.work-image {
  width: 30vw;
  background-color: rgb(236, 236, 236);
  box-shadow: 3px 3px 5px rgb(80, 80, 80), -2px -2px 3px white;
  padding: 10px;
}
.work-image2 {
  width: 30vw;
  background-color: rgb(239, 241, 220);
  box-shadow: 5px 5px 10px rgb(80, 80, 80), -5px -5px 10px white;
  padding: 3px;
  border: 4px solid black;
}

.txt-box {
  width: 50%;
  text-align: left;
  margin-top: auto;
  font-size: 12px;
}
.txt-box2 {
  width: 40%;
  text-align: left;
  margin-top: auto;
  font-size: 12px;
}
.input-field {
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.input-field label {
  margin-right: 10px;
}
.textArea {
  font-family: inherit;
  font-size: 12px;
  padding: 5px 10px 5px 15px !important;
  border: none;
  width: 80%;
}
.textArea2 {
  padding: 4px 10px 4px 10px !important;
  border: none;
  width: 70%;
  background-color: rgb(255, 255, 255);
}
.input-field input {
  border: none;
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
  width: 80%;
}
.input-field label {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .detail-container-outter {
    width: 70%;
    min-width: unset;
  }
  .detail-container {
    flex-direction: column;
    /* margin-top: 50px !important; */
  }
  .detail-updateBtn {
    margin-bottom: 5%;
  }
  .worksBackBtn {
    display: unset;
    flex-direction: unset;
  }
  .image-box,
  .image-box2 {
    margin: auto;
    width: 60%;
    align-content: center;
  }

  .work-image {
    width: 60vw !important;
  }
  .detail-container {
  }
  .txt-box,
  .txt-box2 {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 100%;
  }
  .input-field {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .input-field input {
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
  }
  .textArea {
    /* margin: auto; */
    margin-top: 10px;
    width: 95%;
  }
  .textArea2 {
    /* margin: auto; */
    width: 95%;
  }
}
